# Bundler
.bundle/

# RubyMine
.idea/

# macOS
.DS_Store

# Guard
tmp/

# Static site generator - working folders
hugo_site/node_modules
hugo_site/public
hugo_site/resources

# Static site generator - local development
hugo_site/config/_default/menus.toml
hugo_site/content/docs/10
hugo_site/content/docs/11
hugo_site/content/docs/13
hugo_site/content/docs/14
hugo_site/content/docs/dsc
hugo_site/content/docs/ib
hugo_site/content/docs/vog
hugo_site/content/docs/world

# Development wishlist
wishlist.dev.txt